{% extends 'main/base.html' %}

{% block content %}

<div class="text-center">
    <h1 class="font-sans text-4xl font-bold tracking-tight text-white sm:text-6xl hover:text-pink-200 transition-colors ease-in-out delay-[300ms] duration-[600ms] taos:translate-y-[200px] taos:opacity-0"
        data-taos-offset="300">why us?</h1>
    <br>
    <p class="mt-6 text-lg leading-8 text-white font-sans w-full">At LearnMate, we believe in empowering students to reach their full potential through personalized and innovative learning solutions. Our mission is simple: to help you elevate your studies and achieve academic excellence with customized guidance designed just for you.</p>

    <br>
    <h2 class="mt-6 text-lg leading-8 text-purple-600 w-full font-semibold animate-bounce">team name: mdev1</h2>
</div>

{% endblock %}